.card_container {
  width: 100%;
  max-width: 250px;          /* fixed card width */
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  padding: 10px;
  /* border-radius: 6px; */
  box-sizing: border-box;
  position: relative;
}


.card_container:hover .button{
    display: block;
}

.card_container img{
    padding: 10px;
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.button{
    display: none;
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button:hover{
    background-color: var(--primary-shade);
}

.rating{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;

  /* CENTER THE GRID */
  max-width: 1200px;
  margin: 100px auto 0 auto;   /* centers left + right */

  padding: 0 20px;  /* soft margin on both sides */
  box-sizing: border-box;
  overflow: visible;  /* prevent unwanted scroll */
}


.products_container section{
    margin: 0 auto;
}

.product_flexed{
  box-shadow: none;
  /* height: auto; */
  display: flex;
  gap: 50px;
  width: 100%;
}

.product_flexed h3{
  padding: 20px 0px;
}

.product_flexed .button{
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}

/* FIX FLEX LAYOUT IN CART */
.product_flexed {
  display: flex;
  gap: 30px;
  width: 40% !important;
  height: auto !important;
  align-items: flex-start;
  padding: 20px 0;
}


.product_flexed img{
  width: 200px !important;
  /* height: 300px; */
}
/* --- RESPONSIVE BREAKPOINTS --- */

/* 4 cards per row */
@media (max-width: 1200px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 3 cards per row */
@media (max-width: 992px) {
  .products_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 cards per row */
@media (max-width: 768px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product_flexed{
    display: flex;
    flex-direction: column;
  }
}

/* 1 card per row (mobile) */
@media (max-width: 480px) {
  .products_container {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }

}